@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  /* border-radius: 50px;
  background: #a591ee;
  box-shadow: 20px 20px 60px #8c7bca, -20px -20px 60px #bea7ff; */

  /* background: #3b82f6;
  opacity: 0.5;
  box-shadow: 20px 20px 60px #8c7bca, -20px -20px 60px #bea7ff;
  border-radius: 20px;
  padding: 4px 30px 20px;
  min-height: 100px; */

  @apply shadow-lg;
  @apply p-4;
  @apply mt-4;
}

.card-list {
  @apply w-10/12 md:w-5/12;
  @apply bg-green-100;
  @apply overflow-y-auto;
  @apply bg-gradient-to-r;
  @apply from-green-400;
  @apply to-blue-500;
  @apply overflow-y-auto;
}

.card-title {
  @apply text-lg;
  @apply underline;
}

canvas {
  background-color: black;
}

.content-container {
  @apply absolute;
  @apply top-0;
  @apply w-screen h-screen;
  @apply flex justify-center;
}

.slick-next {
  right: -15px !important;
}

.slick-prev {
  left: -15px !important;
}
